<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Резюме</title>
</head>
<body>
<div>
    Follow <a href="/find_in_prop_file/?file_number=1" target="_blank">this link</a> to load data1.properties<br/>
    or <a href="/find_in_prop_file/?file_number=2" target="_blank">this link</a> to load data2.properties.<br/>
    Property files located at /resources/res/ folder.<br/>
    Go <a href="/find_in_db/?id=1" target="_blank">here</a> or <a href="/find_in_db/?id=2" target="_blank">here</a> to checkout DB queries.
</div>
<div>
    Tomcat listen <b>8090</b> port due to my workstation reasons.
</div>
</body>
</html>