<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Резюме</title>
</head>
<body>
<div>
    Follow <a href="/read_props?prop_file_path=data1.properties">this link</a> to load data1.properties<br/>
    or <a href="/read_props?prop_file_path=data2.properties">this link</a> to load data2.properties.<br/>
    Property files located at /resources/res/ folder.
</div>
<div>
    Tomcat listen <b>8090</b> port due to my workstation reasons.
</div>
</body>
</html>